body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1289px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:231px;
}
#u1645 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:247px;
  width:231px;
  height:231px;
}
#u1646 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1647 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:497px;
  width:231px;
  height:23px;
}
#u1647_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u1648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:231px;
}
#u1648 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:247px;
  width:231px;
  height:231px;
}
#u1649 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1650 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:497px;
  width:231px;
  height:23px;
}
#u1650_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u1651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:231px;
}
#u1651 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:247px;
  width:231px;
  height:231px;
}
#u1652 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1653 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:497px;
  width:231px;
  height:23px;
}
#u1653_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u1654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:2px;
}
#u1654 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:218px;
  width:1218px;
  height:1px;
}
#u1655 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1656 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:168px;
  width:300px;
  height:44px;
}
#u1656_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:231px;
}
#u1657 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:554px;
  width:231px;
  height:231px;
}
#u1658 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1659 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:804px;
  width:231px;
  height:23px;
}
#u1659_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u1660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:231px;
}
#u1660 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:554px;
  width:231px;
  height:231px;
}
#u1661 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1662 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:804px;
  width:231px;
  height:23px;
}
#u1662_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u1663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:231px;
}
#u1663 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:554px;
  width:231px;
  height:231px;
}
#u1664 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1665 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:804px;
  width:231px;
  height:23px;
}
#u1665_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u1666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:231px;
}
#u1666 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:862px;
  width:231px;
  height:231px;
}
#u1667 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1668 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:1112px;
  width:231px;
  height:23px;
}
#u1668_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u1669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:231px;
}
#u1669 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:862px;
  width:231px;
  height:231px;
}
#u1670 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1671 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:1112px;
  width:231px;
  height:23px;
}
#u1671_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u1672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:231px;
}
#u1672 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:862px;
  width:231px;
  height:231px;
}
#u1673 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1674 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:1112px;
  width:231px;
  height:23px;
}
#u1674_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u1675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:2px;
}
#u1675 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:218px;
  width:1218px;
  height:1px;
}
#u1676 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1677 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:243px;
  width:300px;
  height:44px;
}
#u1677_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u1678 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:563px;
  width:231px;
  height:23px;
}
#u1678_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u1679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:239px;
}
#u1679 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:314px;
  width:273px;
  height:239px;
}
#u1680 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:112px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:2px;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:1177px;
  width:1218px;
  height:1px;
}
#u1682 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u1683 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:1195px;
  width:166px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u1684 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u1685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:80px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u1685 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:1205px;
  width:166px;
  height:80px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u1686 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:162px;
  word-wrap:break-word;
}
#u1687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u1687 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:1228px;
  width:166px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u1688 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u1689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:1261px;
  width:166px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u1690 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u1691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u1691 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:1205px;
  width:23px;
  height:23px;
}
#u1692 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u1693 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:1205px;
  width:72px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u1694 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u1695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u1695 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:1238px;
  width:153px;
  height:46px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u1696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u1697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:2px;
}
#u1697 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:1317px;
  width:1218px;
  height:1px;
}
#u1698 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1699 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:874px;
  width:231px;
  height:23px;
}
#u1699_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u1700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:239px;
}
#u1700 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:625px;
  width:273px;
  height:239px;
}
#u1701 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:112px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1218px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1702 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:88px;
  width:1218px;
  height:80px;
}
#u1703 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:80px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u1704 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:88px;
  width:166px;
  height:80px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u1705 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:162px;
  word-wrap:break-word;
}
#u1706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u1706 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:88px;
  width:166px;
  height:80px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u1707 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:162px;
  word-wrap:break-word;
}
#u1708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u1708 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:88px;
  width:166px;
  height:80px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u1709 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:162px;
  word-wrap:break-word;
}
#u1710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1710 {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:88px;
  width:166px;
  height:80px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1711 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:162px;
  word-wrap:break-word;
}
#u1712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1712 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:88px;
  width:166px;
  height:80px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1713 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:162px;
  word-wrap:break-word;
}
#u1714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u1714 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:114px;
  width:30px;
  height:28px;
}
#u1715 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1716 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:96px;
  width:366px;
  height:65px;
}
#u1716_input {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:65px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u1717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:27px;
}
#u1717 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:115px;
  width:30px;
  height:27px;
}
#u1718 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1719 {
  border-width:0px;
  position:absolute;
  left:1129px;
  top:113px;
  width:30px;
  height:30px;
}
#u1720 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
