body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1289px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:2px;
}
#u4112 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:218px;
  width:1218px;
  height:1px;
}
#u4113 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4114 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:168px;
  width:300px;
  height:44px;
}
#u4114_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:231px;
}
#u4115 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:247px;
  width:231px;
  height:231px;
}
#u4116 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u4117 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:525px;
  width:46px;
  height:44px;
}
#u4118 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u4119 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:525px;
  width:46px;
  height:44px;
}
#u4120 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u4121 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:525px;
  width:46px;
  height:44px;
}
#u4122 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u4123 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:525px;
  width:46px;
  height:44px;
}
#u4124 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u4125 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:525px;
  width:46px;
  height:44px;
}
#u4126 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4127 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:497px;
  width:231px;
  height:23px;
}
#u4127_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u4128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:499px;
}
#u4128 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:229px;
  width:1px;
  height:498px;
}
#u4129 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:241px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:231px;
}
#u4130 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:247px;
  width:231px;
  height:231px;
}
#u4131 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u4132 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:525px;
  width:46px;
  height:44px;
}
#u4133 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u4134 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:525px;
  width:46px;
  height:44px;
}
#u4135 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u4136 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:525px;
  width:46px;
  height:44px;
}
#u4137 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u4138 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:525px;
  width:46px;
  height:44px;
}
#u4139 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4140 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:497px;
  width:231px;
  height:23px;
}
#u4140_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u4141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:499px;
}
#u4141 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:229px;
  width:1px;
  height:498px;
}
#u4142 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:241px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:231px;
}
#u4143 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:247px;
  width:231px;
  height:231px;
}
#u4144 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u4145 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:525px;
  width:46px;
  height:44px;
}
#u4146 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u4147 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:525px;
  width:46px;
  height:44px;
}
#u4148 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u4149 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:525px;
  width:46px;
  height:44px;
}
#u4150 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u4151 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:525px;
  width:46px;
  height:44px;
}
#u4152 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4153 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:497px;
  width:231px;
  height:23px;
}
#u4153_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u4154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:499px;
}
#u4154 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:229px;
  width:1px;
  height:498px;
}
#u4155 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:241px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4156 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:243px;
  width:300px;
  height:44px;
}
#u4156_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u4157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:54px;
}
#u4157 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:589px;
  width:52px;
  height:54px;
}
#u4158 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:54px;
}
#u4159 {
  border-width:0px;
  position:absolute;
  left:1059px;
  top:589px;
  width:52px;
  height:54px;
}
#u4160 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:54px;
}
#u4161 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:589px;
  width:52px;
  height:54px;
}
#u4162 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:54px;
}
#u4163 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:589px;
  width:52px;
  height:54px;
}
#u4164 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4165 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:546px;
  width:231px;
  height:23px;
}
#u4165_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u4166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:239px;
}
#u4166 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:297px;
  width:273px;
  height:239px;
}
#u4167 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:112px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u4168 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:523px;
  width:50px;
  height:48px;
}
#u4169 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u4170 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:525px;
  width:46px;
  height:44px;
}
#u4171 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Corbel Regular', 'Corbel';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u4172 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:579px;
  width:235px;
  height:114px;
  font-family:'Corbel Regular', 'Corbel';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u4173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u4174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Corbel Regular', 'Corbel';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u4174 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:579px;
  width:231px;
  height:114px;
  font-family:'Corbel Regular', 'Corbel';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u4175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u4176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Corbel Regular', 'Corbel';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u4176 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:579px;
  width:231px;
  height:95px;
  font-family:'Corbel Regular', 'Corbel';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u4177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u4178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:54px;
}
#u4178 {
  border-width:0px;
  position:absolute;
  left:1214px;
  top:589px;
  width:52px;
  height:54px;
}
#u4179 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:2px;
}
#u4180 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:760px;
  width:1218px;
  height:1px;
}
#u4181 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:2px;
}
#u4182 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:829px;
  width:1218px;
  height:1px;
}
#u4183 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4184 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:779px;
  width:300px;
  height:44px;
}
#u4184_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:231px;
}
#u4185 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:858px;
  width:231px;
  height:231px;
}
#u4186 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u4187 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:1144px;
  width:46px;
  height:44px;
}
#u4188 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u4189 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:1144px;
  width:46px;
  height:44px;
}
#u4190 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u4191 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:1144px;
  width:46px;
  height:44px;
}
#u4192 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u4193 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:1144px;
  width:46px;
  height:44px;
}
#u4194 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:499px;
}
#u4195 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:840px;
  width:1px;
  height:498px;
}
#u4196 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:241px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:231px;
}
#u4197 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:858px;
  width:231px;
  height:231px;
}
#u4198 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u4199 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:1146px;
  width:46px;
  height:44px;
}
#u4200 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u4201 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:1146px;
  width:46px;
  height:44px;
}
#u4202 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u4203 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:1146px;
  width:46px;
  height:44px;
}
#u4204 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u4205 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:1146px;
  width:46px;
  height:44px;
}
#u4206 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4207 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:1108px;
  width:231px;
  height:23px;
}
#u4207_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u4208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:499px;
}
#u4208 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:840px;
  width:1px;
  height:498px;
}
#u4209 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:241px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:231px;
}
#u4210 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:858px;
  width:231px;
  height:231px;
}
#u4211 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u4212 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:1146px;
  width:46px;
  height:44px;
}
#u4213 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u4214 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:1146px;
  width:46px;
  height:44px;
}
#u4215 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u4216 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:1146px;
  width:46px;
  height:44px;
}
#u4217 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u4218 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:1146px;
  width:46px;
  height:44px;
}
#u4219 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4220 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:1108px;
  width:231px;
  height:23px;
}
#u4220_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u4221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:499px;
}
#u4221 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:840px;
  width:1px;
  height:498px;
}
#u4222 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:241px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4223 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:854px;
  width:300px;
  height:44px;
}
#u4223_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u4224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:54px;
}
#u4224 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:1200px;
  width:52px;
  height:54px;
}
#u4225 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:54px;
}
#u4226 {
  border-width:0px;
  position:absolute;
  left:1059px;
  top:1200px;
  width:52px;
  height:54px;
}
#u4227 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:54px;
}
#u4228 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:1200px;
  width:52px;
  height:54px;
}
#u4229 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:54px;
}
#u4230 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:1200px;
  width:52px;
  height:54px;
}
#u4231 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4232 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:1157px;
  width:231px;
  height:23px;
}
#u4232_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u4233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:239px;
}
#u4233 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:908px;
  width:273px;
  height:239px;
}
#u4234 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:112px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u4235 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:1146px;
  width:46px;
  height:44px;
}
#u4236 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Corbel Regular', 'Corbel';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u4237 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:1198px;
  width:235px;
  height:95px;
  font-family:'Corbel Regular', 'Corbel';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u4238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u4239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Corbel Regular', 'Corbel';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u4239 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:1200px;
  width:231px;
  height:114px;
  font-family:'Corbel Regular', 'Corbel';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u4240 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u4241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Corbel Regular', 'Corbel';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u4241 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:1200px;
  width:231px;
  height:95px;
  font-family:'Corbel Regular', 'Corbel';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u4242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u4243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:54px;
}
#u4243 {
  border-width:0px;
  position:absolute;
  left:1214px;
  top:1200px;
  width:52px;
  height:54px;
}
#u4244 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u4245 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:1099px;
  width:235px;
  height:46px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u4246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u4247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u4247 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:1144px;
  width:46px;
  height:44px;
}
#u4248 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u4249 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:1146px;
  width:46px;
  height:44px;
}
#u4250 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:2px;
}
#u4251 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:1371px;
  width:1218px;
  height:1px;
}
#u4252 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u4253 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:1389px;
  width:166px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u4254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u4255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:80px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u4255 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:1399px;
  width:166px;
  height:80px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u4256 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:162px;
  word-wrap:break-word;
}
#u4257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u4257 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:1422px;
  width:166px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u4258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u4259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u4259 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:1455px;
  width:166px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u4260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u4261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u4261 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:1399px;
  width:23px;
  height:23px;
}
#u4262 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u4263 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:1399px;
  width:72px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u4264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u4265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u4265 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:1432px;
  width:153px;
  height:46px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u4266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u4267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:2px;
}
#u4267 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:1511px;
  width:1218px;
  height:1px;
}
#u4268 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1218px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4269 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:79px;
  width:1218px;
  height:80px;
}
#u4270 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:80px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u4271 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:79px;
  width:166px;
  height:80px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u4272 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:162px;
  word-wrap:break-word;
}
#u4273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u4273 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:79px;
  width:166px;
  height:80px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u4274 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:162px;
  word-wrap:break-word;
}
#u4275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u4275 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:79px;
  width:166px;
  height:80px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u4276 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:162px;
  word-wrap:break-word;
}
#u4277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:27px;
  text-align:left;
}
#u4277 {
  border-width:0px;
  position:absolute;
  left:1123px;
  top:79px;
  width:166px;
  height:80px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:27px;
  text-align:left;
}
#u4278 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:162px;
  word-wrap:break-word;
}
#u4279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u4279 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:79px;
  width:166px;
  height:80px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u4280 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:162px;
  word-wrap:break-word;
}
#u4281 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:87px;
  width:366px;
  height:65px;
}
#u4281_input {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:65px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u4282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:27px;
}
#u4282 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:106px;
  width:30px;
  height:27px;
}
#u4283 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:51px;
}
#u4284 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:95px;
  width:46px;
  height:51px;
}
#u4285 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4286 {
  border-width:0px;
  position:absolute;
  left:1133px;
  top:109px;
  width:24px;
  height:24px;
}
#u4287 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
