body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1289px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:231px;
}
#u2181 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:247px;
  width:231px;
  height:231px;
}
#u2182 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2183 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:497px;
  width:231px;
  height:23px;
}
#u2183_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u2184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:231px;
}
#u2184 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:247px;
  width:231px;
  height:231px;
}
#u2185 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2186 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:497px;
  width:231px;
  height:23px;
}
#u2186_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u2187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:2px;
}
#u2187 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:218px;
  width:1218px;
  height:1px;
}
#u2188 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:168px;
  width:505px;
  height:44px;
}
#u2189_input {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:44px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:231px;
}
#u2190 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:554px;
  width:231px;
  height:231px;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2192 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:804px;
  width:298px;
  height:23px;
}
#u2192_input {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u2193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:231px;
}
#u2193 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:554px;
  width:231px;
  height:231px;
}
#u2194 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2195 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:804px;
  width:231px;
  height:23px;
}
#u2195_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u2196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:231px;
}
#u2196 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:554px;
  width:231px;
  height:231px;
}
#u2197 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2198 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:804px;
  width:231px;
  height:23px;
}
#u2198_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u2199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:231px;
}
#u2199 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:862px;
  width:231px;
  height:231px;
}
#u2200 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2201 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:1112px;
  width:279px;
  height:23px;
}
#u2201_input {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u2202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:231px;
}
#u2202 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:862px;
  width:231px;
  height:231px;
}
#u2203 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2204 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:1112px;
  width:231px;
  height:23px;
}
#u2204_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u2205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:231px;
}
#u2205 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:862px;
  width:231px;
  height:231px;
}
#u2206 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2207 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:1112px;
  width:231px;
  height:23px;
}
#u2207_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u2208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:2px;
}
#u2208 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:218px;
  width:1218px;
  height:1px;
}
#u2209 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:2px;
}
#u2210 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:1177px;
  width:1218px;
  height:1px;
}
#u2211 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u2212 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:1195px;
  width:166px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u2213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u2214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:80px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u2214 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:1205px;
  width:166px;
  height:80px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u2215 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:162px;
  word-wrap:break-word;
}
#u2216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u2216 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:1228px;
  width:166px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u2217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u2218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u2218 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:1261px;
  width:166px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u2219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u2220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u2220 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:1205px;
  width:23px;
  height:23px;
}
#u2221 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u2222 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:1205px;
  width:72px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u2224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:2px;
}
#u2224 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:1317px;
  width:1218px;
  height:1px;
}
#u2225 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2226 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:496px;
  width:238px;
  height:23px;
}
#u2226_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u2227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:231px;
}
#u2227 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:247px;
  width:252px;
  height:231px;
}
#u2228 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1218px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2229 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:88px;
  width:1218px;
  height:80px;
}
#u2230 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:80px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u2231 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:88px;
  width:166px;
  height:80px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u2232 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:162px;
  word-wrap:break-word;
}
#u2233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u2233 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:88px;
  width:166px;
  height:80px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u2234 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:162px;
  word-wrap:break-word;
}
#u2235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u2235 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:88px;
  width:166px;
  height:80px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u2236 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:162px;
  word-wrap:break-word;
}
#u2237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u2237 {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:88px;
  width:166px;
  height:80px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u2238 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:162px;
  word-wrap:break-word;
}
#u2239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u2239 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:88px;
  width:166px;
  height:80px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u2240 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:162px;
  word-wrap:break-word;
}
#u2241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u2241 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:114px;
  width:30px;
  height:28px;
}
#u2242 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2243 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:96px;
  width:366px;
  height:65px;
}
#u2243_input {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:65px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u2244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:27px;
}
#u2244 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:115px;
  width:30px;
  height:27px;
}
#u2245 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2246 {
  border-width:0px;
  position:absolute;
  left:1129px;
  top:113px;
  width:30px;
  height:30px;
}
#u2247 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
