body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1289px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:231px;
}
#u2248 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:247px;
  width:231px;
  height:231px;
}
#u2249 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2250 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:497px;
  width:358px;
  height:23px;
}
#u2250_input {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u2251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:231px;
}
#u2251 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:247px;
  width:231px;
  height:231px;
}
#u2252 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2253 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:497px;
  width:231px;
  height:23px;
}
#u2253_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u2254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:2px;
}
#u2254 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:218px;
  width:1218px;
  height:1px;
}
#u2255 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2256 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:168px;
  width:505px;
  height:44px;
}
#u2256_input {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:44px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:231px;
}
#u2257 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:554px;
  width:231px;
  height:231px;
}
#u2258 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2259 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:804px;
  width:298px;
  height:23px;
}
#u2259_input {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u2260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:231px;
}
#u2260 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:554px;
  width:231px;
  height:231px;
}
#u2261 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2262 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:804px;
  width:231px;
  height:23px;
}
#u2262_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u2263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:231px;
}
#u2263 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:554px;
  width:231px;
  height:231px;
}
#u2264 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2265 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:804px;
  width:231px;
  height:23px;
}
#u2265_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u2266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:231px;
}
#u2266 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:862px;
  width:231px;
  height:231px;
}
#u2267 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2268 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:1112px;
  width:279px;
  height:23px;
}
#u2268_input {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u2269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:231px;
}
#u2269 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:862px;
  width:231px;
  height:231px;
}
#u2270 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2271 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:1112px;
  width:231px;
  height:23px;
}
#u2271_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u2272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:231px;
}
#u2272 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:862px;
  width:231px;
  height:231px;
}
#u2273 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2274 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:1112px;
  width:231px;
  height:23px;
}
#u2274_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u2275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:2px;
}
#u2275 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:218px;
  width:1218px;
  height:1px;
}
#u2276 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:2px;
}
#u2277 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:1177px;
  width:1218px;
  height:1px;
}
#u2278 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u2279 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:1195px;
  width:166px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u2280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u2281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:80px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u2281 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:1205px;
  width:166px;
  height:80px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u2282 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:162px;
  word-wrap:break-word;
}
#u2283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u2283 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:1228px;
  width:166px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u2284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u2285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u2285 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:1261px;
  width:166px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u2286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u2287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u2287 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:1205px;
  width:23px;
  height:23px;
}
#u2288 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u2289 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:1205px;
  width:72px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u2290 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u2291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:2px;
}
#u2291 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:1317px;
  width:1218px;
  height:1px;
}
#u2292 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2293 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:496px;
  width:238px;
  height:23px;
}
#u2293_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u2294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:231px;
}
#u2294 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:247px;
  width:252px;
  height:231px;
}
#u2295 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1218px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2296 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:88px;
  width:1218px;
  height:80px;
}
#u2297 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:80px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u2298 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:88px;
  width:166px;
  height:80px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u2299 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:162px;
  word-wrap:break-word;
}
#u2300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u2300 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:88px;
  width:166px;
  height:80px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u2301 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:162px;
  word-wrap:break-word;
}
#u2302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u2302 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:88px;
  width:166px;
  height:80px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u2303 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:162px;
  word-wrap:break-word;
}
#u2304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u2304 {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:88px;
  width:166px;
  height:80px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u2305 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:162px;
  word-wrap:break-word;
}
#u2306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u2306 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:88px;
  width:166px;
  height:80px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u2307 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:162px;
  word-wrap:break-word;
}
#u2308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u2308 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:114px;
  width:30px;
  height:28px;
}
#u2309 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2310 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:96px;
  width:366px;
  height:65px;
}
#u2310_input {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:65px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u2311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:27px;
}
#u2311 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:115px;
  width:30px;
  height:27px;
}
#u2312 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2313 {
  border-width:0px;
  position:absolute;
  left:1129px;
  top:113px;
  width:30px;
  height:30px;
}
#u2314 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
